# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=oftisoft
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/oftisoft
# JWT Configuration
JWT_ACCESS_SECRET=857$DSS
JWT_REFRESH_SECRET=ffafCDCD
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
GOOGLE_CLIENT_ID=125345315064-h6jv380nllhu1eel0sddri3d09hm91js.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

GITHUB_CLIENT_ID=Ov23li4Wl4zmEQAYQQw3
GITHUB_CLIENT_SECRET=61a98c2f8c2790746379d5640a68ee4033259602
# Application Configuration
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
# Firebase Configuration
FIREBASE_API_KEY=AIzaSyD897IFAChUyFHMFjqJRPJ6wS06jD30rBo
FIREBASE_AUTH_DOMAIN=oftisoft-296de.firebaseapp.com
FIREBASE_PROJECT_ID=oftisoft-296de
FIREBASE_STORAGE_BUCKET=oftisoft-296de.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=90188203025
FIREBASE_APP_ID=1:90188203025:web:a092bed3c085a61e511db0
FIREBASE_MEASUREMENT_ID=G-FJLNL06KEN

# Cloudinary
CLOUDINARY_URL=cloudinary://738283599782862:_dpD8uAwf0S1soSBsDnirGZ_gP8@drhajl0pj

GOOGLE_CLIENT_ID=125345315064-h6jv380nllhu1eel0sddri3d09hm91js.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=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

# OAuth - GitHub (create at https://github.com/settings/developers)
GITHUB_CLIENT_ID=Ov23li4Wl4zmEQAYQQw3
GITHUB_CLIENT_SECRET=61a98c2f8c2790746379d5640a68ee4033259602